{% extends "base.html.twig" %}

{% block title %}RacineCRUD - Ajout user{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Projet - RacineCRUD version Symfony4 by <a href="http://www.itdev.site" target="_blank" title="visit itdev's website">@the_it_dev</a></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h1 style="text-decoration: underline;">Edition d'un user</h1>

                {% for msg in app.session.flashbag.get('modif_er_mail') %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}

                {% for msg in app.session.flashbag.get('modif_s') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}

                {% for msg in app.session.flashbag.get('modif_er_tel') %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}

                <div class="col-lg-6">
                    {{ form(form) }}
                    <input type="submit" value="Editer" id="modif" class="btn btn-success"/>
                    <a href="{{ path('user') }}" class="btn btn-danger">Annuler</a>
                </div>
            </div>
        </div>
            
        <br/>
    </div>

    <script>
        $(document).ready(function(){
            $('#modif').click(function(){
                $('form').submit();
            })
        })
    </script>

{% endblock %}